<div class="flex gap-4 px-4 py-6 rounded-md shadow">
  <div class="flex gap-6 items-center sm:gap-4 max-sm:flex-col w-full">
    <div class="w-24 h-24 max-sm:w-24 max-sm:h-24 shrink-0">
      <img [src]="urlImage" [alt]="product.product.title" class="rounded-md" />
    </div>
    <div class="flex flex-col gap-4 w-full">
      <div class="flex justify-between items-center">
        <a
          class="text-base font-semibold md:text-lg hover:text-primary"
          [routerLink]="`/products/${product.product.slug}`"
        >
          {{ product.product.title | limitCharacterText : 20 }}
        </a>
        <button
          class="btn btn-sm btn-circle btn-soft btn-error"
          (click)="deleteProduct(product.product.id)"
          [disabled]="isServerUpdate()"
        >
          <ng-icon name="heroTrash" size="1.5rem"></ng-icon>
        </button>
      </div>
      <select
        class="select rounded-full w-20 bg-base-300"
        [(ngModel)]="size"
        (change)="updateProductCart(product.product.id)"
        [disabled]="isServerUpdate()"
      >
        @for (item of product.product.sizes; track $index) {
        <option [selected]="size() == item">{{ item }}</option>
        }
      </select>
      <div class="mt-auto flex justify-between items-center">
        <h3 class="text-base font-semibold">
          {{ product.product.price | currency : "EUR" : "symbol" }}
        </h3>
        <div class="flex items-center">
          <button
            type="button"
            class="btn btn-sm btn-circle flex items-center justify-center bg-slate-400 outline-none"
            (click)="updateProductCart(product.product.id, false)"
            [disabled]="quantity() <= 0 || isServerUpdate()"
          >
            -
          </button>
          <span class="text-lg px-4 font-bold">{{ quantity() }}</span>
          <button
            type="button"
            class="btn btn-sm btn-circle flex items-center justify-center bg-base-300 outline-none"
            (click)="updateProductCart(product.product.id)"
            [disabled]="isServerUpdate()"
          >
            +
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
