<div class="flex gap-4 px-4 py-6 rounded-md shadow">
  <div class="flex gap-6 items-center sm:gap-4 max-sm:flex-col w-full">
    <div class="w-24 h-24 max-sm:w-24 max-sm:h-24 shrink-0">
      <img [src]="urlImage" [alt]="product.product.title" class="rounded-md" />
    </div>
    <div class="flex flex-col gap-4 w-full">
      <div class="flex justify-between items-center">
        <a
          class="text-base font-semibold md:text-lg hover:text-primary"
          [routerLink]="['/products', product.product.slug]"
        >
          {{ product.product.title | limitCharacterText : 20 }}
        </a>
        <button
          class="btn btn-sm btn-circle btn-soft btn-error"
          (click)="deleteProduct(product.product.id)"
          [disabled]="isServerUpdate()"
        >
          <ng-icon name="heroTrash" size="1.5rem"></ng-icon>
        </button>
      </div>
      <select
        class="select rounded-full w-20 bg-base-300"
        [(ngModel)]="sizeValue"
        (ngModelChange)="onSizeChange($event)"
        [disabled]="isServerUpdate()"
        name="sizeSelect"
      >
        <option *ngFor="let item of product.product.sizes" [value]="item">{{ item }}</option>
      </select>
      <div class="mt-auto flex justify-between items-center">
        <h3 class="text-base font-semibold">
          {{ product.product.price | currency : "EUR" : "symbol" }}
        </h3>
        <button-group-edit-quantity
          [isServerUpdate]="isServerUpdate()"
          [stock]="product.product.stock"
          [quantity]="product.quantity"
          (changeQuantity)="updateProductCart(product.product.id, $event)"
        ></button-group-edit-quantity>
      </div>
    </div>
  </div>
</div>
