#section-1 {
  background-image: url("/images/boy-portada-home.jpg");
  min-height: 30rem;
}

#section-2 {
  background-image: url("/images/girl-portada-home.jpg");
}

#section-3 {
  background-image: url("/images/boutique-portada-home.jpg");
}
