<section class="p-4">
  <div class="grid gap-4 sm:grid-flow-col grid-rows-2">
    <div id="section-1" class="hero rounded sm:col-span-2 md:row-span-2">
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="w-full">
          <h1 class="mb-5 text-5xl font-bold">Break with the basics</h1>
        </div>
      </div>
    </div>
    <div id="section-2" class="hero rounded">
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="w-full">
          <h1 class="mb-5 text-5xl font-bold">Style that impacts</h1>
        </div>
      </div>
    </div>
    <div id="section-3" class="hero rounded">
      <div class="hero-overlay"></div>
      <div class="hero-content text-neutral-content text-center">
        <div class="w-full">
          <h1 class="mb-5 text-5xl font-bold">Fashion without rules</h1>

        </div>
      </div>
    </div>
  </div>
</section>
