<div class="drawer drawer-end z-200">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <!-- Page content here -->
    <label for="my-drawer" class="btn btn-ghost drawer-button">
      <ng-icon name="heroBars3Solid" size="2rem"></ng-icon>
    </label>
  </div>
  <div class="drawer-side">
    <label
      for="my-drawer"
      aria-label="close sidebar"
      class="drawer-overlay"
    ></label>
    <ul class="menu bg-base-200 text-base-content min-h-full w-80 p-4">
      <div>
        <h1 class="text-lg font-bold text-center">Welcome to {{ title }}</h1>
      </div>
      <hr class="text-base-300 my-3" />
      @for (item of sidebarItems; track $index) {
      <li class="font-bold">
        <a
          [routerLink]="[item.route]"
          routerLinkActive="menu-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
        <ng-icon [name]="item.icon" size="1.25rem"></ng-icon>
          {{ item.title | titlecase }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
