<div class="navbar bg-base-100 shadow-sm sticky top-0 z-200">
  <div class="navbar-start">
    <shared-navbar-dropdown-menu></shared-navbar-dropdown-menu>
  </div>
  <div class="navbar-center">
    <a routerLink="/" class="font-semibold text-xl">{{ title }}</a>
  </div>
  <div class="navbar-end space-x-4">
    <div class="dropdown dropdown-end">
      <store-cart></store-cart>
    </div>
    <div class="dropdown dropdown-end">
      <shared-navbar-avatar-perfile></shared-navbar-avatar-perfile>
    </div>
  </div>
</div>
