<footer class="footer bg-neutral text-neutral-content">
  <div class="px-10 pt-10 footer sm:footer-horizontal">
    <aside>
      <h1 class="text-4xl mb-4 font-extrabold">{{ title }}</h1>
      <p class="text-lg">
        Offering the best quality since 2025
      </p>
    </aside>
    <nav class="grid-flow-col gap-4 sm:place-self-center sm:justify-self-end">
      <div class="grid grid-flow-col mt-3 sm:grid-flow-row gap-4 mt-0">
        <a>
          <ng-icon name="aspectsSocialTwitter" size="1.75em" class="opacity-50 cursor-pointer hover:opacity-100"></ng-icon>
        </a>
        <a>
          <ng-icon name="aspectsSocialInstagram" size="1.75em" class="opacity-50 cursor-pointer hover:opacity-100"></ng-icon>
        </a>
        <a>
          <ng-icon name="aspectsSocialFacebook" size="1.75em" class="opacity-50 cursor-pointer hover:opacity-100"></ng-icon>
        </a>
      </div>
    </nav>
  </div>
  <aside class="px-10 pb-4 w-full footer footer-center">
    <p>
      Copyright © {{ yearCopyright }} - All right reserved by
      {{ title }} Industries Ltd
    </p>
  </aside>
</footer>
