<footer class="footer bg-neutral text-neutral-content">
  <div class="p-10 footer sm:footer-horizontal">
    <aside>
      <h1 class="text-4xl mb-4 font-extrabold">{{ title }}</h1>
      <p>
        {{ title }} Industries Ltd.
        <br />
        Offering the best quality since 2025
      </p>
    </aside>
    <nav>
      <h6 class="footer-title">Social</h6>
      <div class="grid grid-flow-col gap-4">
        <a>
          <ng-icon name="aspectsSocialTwitter" size="1.75em" class="opacity-50 hover:opacity-100"></ng-icon>
        </a>
        <a>
          <ng-icon name="aspectsSocialInstagram" size="1.75em" class="opacity-50 hover:opacity-100"></ng-icon>
        </a>
        <a>
          <ng-icon name="aspectsSocialFacebook" size="1.75em" class="opacity-50 hover:opacity-100"></ng-icon>
        </a>
      </div>
    </nav>
  </div>
  <aside class="px-10 pb-4 w-full footer footer-center">
    <p>
      Copyright © {{ yearCopyright }} - All right reserved by
      {{ title }} Industries Ltd
    </p>
  </aside>
</footer>
