<div *ngIf="isLoad()" class="text-center">
  <shared-loading></shared-loading>
  <p>Charge product</p>
</div>

<div *ngIf="!isLoad() && product() != null" class="p-4">
  <h1
    class="card-title text-4xl font-semibold flex items-center justify-between pb-4"
  >
    {{ product()?.title }}
    <div *ngIf="isNewProduct()" class="badge badge-secondary">NEW</div>
  </h1>
  <section class="grid gap-4 sm:grid-flow-col sm:grid-cols-2">
    <shared-carousel-product [images]="images()"></shared-carousel-product>
    <div class="h-full flex flex-col justify-between py-4 text-center">
      <div>
        <div class="text-lg font-bold">
          {{ product()?.type ?? "" | titlecase }} |
          {{ product()?.gender ?? "" | titlecase }}
        </div>
        <p class="text-2xl font-bold my-4">
          {{ product()?.price | currency : "EUR" : "symbol" }}
        </p>
      </div>
      <button
        class="btn btn-outline btn-primary rounded-full w-full"
        (click)="addCart(product()?.id ?? '')"
      >
        ADD TO CART
      </button>
    </div>
  </section>
  <section class="my-4">
    <h2 class="font-semibold text-lg">Description</h2>
    <p class="text-gray-400 text-base mb-4">{{ product()?.description }}</p>
  </section>
</div>
