<div *ngIf="isLoad()" class="text-center">
  <shared-loading></shared-loading>
  <p>Charge product</p>
</div>

<div *ngIf="!isLoad() && product() != null" class="p-4 max-w-7xl mx-auto">
  <h1
    class="card-title text-4xl font-semibold flex items-center justify-between pb-6"
  >
    {{ product()?.title }}
    <div *ngIf="isNewProduct()" class="badge badge-secondary">NEW</div>
  </h1>

  <section class="grid gap-8 md:grid-cols-2 items-start">
    <div class="w-full max-w-md mx-auto">
      <shared-carousel-product [images]="images()"></shared-carousel-product>
    </div>

    <div class="flex flex-col justify-between h-full py-4 text-center">
      <div>
        <div class="text-lg font-bold mb-4">
          {{ product()?.type ?? "" | titlecase }} |
          {{ product()?.gender ?? "" | titlecase }}
        </div>
        <p class="text-2xl font-bold mb-4">
          {{ product()?.price | currency : "EUR" : "symbol" }}
        </p>

        <div class="join">
          @for (size of product()?.sizes; track $index) {
          <button
            class="btn btn-soft btn-primary btn-circle mx-2"
            [class.btn-active]="sizeSelect() == size"
            (click)="sizeSelect.set(size)"
          >
            {{ size }}
          </button>
          }
        </div>
      </div>

      <div>
        <div class="flex items-center justify-center py-4">
          <button
            type="button"
            class="btn btn-sm btn-circle flex items-center justify-center bg-slate-400 outline-none"
            (click)="updateQuantity(false)"
            [disabled]="quantity() <= 0"
          >
            -
          </button>
          <span class="text-lg px-4 font-bold">{{ quantity() }}</span>
          <button
            type="button"
            class="btn btn-sm btn-circle flex items-center justify-center bg-base-300 outline-none"
            (click)="updateQuantity()"
          >
            +
          </button>
        </div>

        <button-add-cart class="w-full" (click)="addCart(product()?.id ?? '')">
        </button-add-cart>
      </div>
    </div>
  </section>

  <section class="my-8">
    <h2 class="font-semibold text-lg">Description</h2>
    <p class="text-gray-500 text-base">{{ product()?.description }}</p>
  </section>
</div>
