<div class="p-5 shadow-xl bg-base-200">
  <form
    class="space-y-4 w-75 sm:w-100"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="text-2xl mb-2 font-bold text-center">Login</h1>
    <p class="text-sm text-gray-400 text-center mb-4">
      Welcome back! Please enter your details.
    </p>

    <!-- Error -->
    @if (hasError()) {
    <div role="alert" class="alert alert-error alert-soft mb-3">
      <span>Invalid credentials, check email and password</span>
    </div>
    }

    <!-- Email Input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroEnvelope" size="1.2em" class="opacity-50"></ng-icon>
        <input
          width="100px"
          type="email"
          placeholder="mail@site.com"
          formControlName="email"
        />
      </label>
      @if (formUtils.isValidField(loginForm, 'email')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(loginForm, "email") }}
      </div>
      }
    </div>

    <!-- Password input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroKey" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </label>
      @if (formUtils.isValidField(loginForm, 'password')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(loginForm, "password") }}
      </div>
      }
    </div>

    <div class="flex items-center justify-between">
      <label class="flex items-center">
        <input
          formControlName="rememberMe"
          type="checkbox"
          class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
          formControlName="rememberLogin"
        />
        <span class="ml-2 text-sm text-gray-500">Remember me</span>
      </label>

      <a
        routerLink="/auth/reset-password"
        class="text-sm text-indigo-500 hover:text-indigo-400"
        >Forgot password?</a
      >
    </div>

    <button type="submit" [disabled]="isValidForm" class="btn btn-soft w-full">
      @if (!isLoading()) {Login} @else {<shared-loading></shared-loading>}
    </button>
  </form>

  <div class="mt-6 text-center text-sm text-gray-500">
    Don't have an account?
    <a
      routerLink="/auth/register"
      class="text-indigo-500 hover:text-indigo-400 font-medium"
    >
      Register
    </a>
  </div>
</div>
