<header>
  <img
    id="homeImage"
    class="opacity-50 grayscale-50 shadow"
    src="/images/home-portada.jpg"
    alt="home-image"
  />
  <div id="contend" class="flex justify-center items-center h-screen">
    <div class="text-center p-4">
      <h1 class="text-6xl mb-4 font-extrabold sm:text-8xl"> {{ title }} </h1>
      <p class="text-l mb-5">
        Make every outfit a style statement, only on StyleHub.
      </p>
      <button class="btn btn-outline text-l font-bold">Show product</button>
    </div>
  </div>
</header>
