<div class="p-5 shadow-xl bg-base-200">
  <h1 class="text-2xl mb-2 font-boldb-6 text-center">Register</h1>
  <p class="text-sm text-center text-gray-600 mb-4">
    Create an account to start using StyleHub
  </p>

  <form
    class="space-y-4 w-75 sm:w-100"
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
  >
    <!-- Error -->
    @if (hasError()) {
    <div role="alert" class="alert alert-error alert-soft mb-3">
      <p>Verify that the email or username is not registered.</p>
    </div>
    }

    <!-- Email Input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroEnvelope" size="1.2em" class="opacity-50"></ng-icon>
        <input
          width="100px"
          type="email"
          placeholder="mail@site.com"
          formControlName="email"
        />
      </label>
      @if (formUtils.isValidField(registerForm, 'email')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(registerForm, "email") }}
      </div>
      }
    </div>

    <!-- FullName -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroUser" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="text"
          placeholder="Username"
          formControlName="fullName"
          title="Only letters, numbers or dash"
        />
      </label>
      @if (formUtils.isValidField(registerForm, 'fullName')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(registerForm, "fullName") }}
      </div>
      }
    </div>

    <!-- Password input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroKey" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          title="Must be more than 6 characters, including number, lowercase letter, uppercase letter"
        />
      </label>
      @if (formUtils.isValidField(registerForm, 'password')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(registerForm, "password") }}
      </div>
      }
    </div>

    <!-- Confirm Password input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroKey" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          title="Repeat password"
        />
      </label>
      @if (registerForm.errors && registerForm.touched) {
      <span class="text-xs text-error mt-2">
        Las contraseñas no coinciden
      </span>
      }
    </div>

    <div class="flex items-center justify-between">
      <label class="flex items-center">
        <input
          formControlName="rememberMe"
          type="checkbox"
          class="rounded border-gray-300 text-indigo-600 focus:ring-indigo-500"
          formControlName="rememberLogin"
        />
        <span class="ml-2 text-sm text-gray-600">Remember me</span>
      </label>
    </div>

    <button type="submit" [disabled]="isValidForm" class="btn btn-soft w-full">
      @if (!isLoading()) {Register} @else {<shared-loading></shared-loading>}
    </button>
  </form>

  <div class="mt-6 text-center text-sm text-gray-600">
    You have an account?
    <a
      routerLink="/auth/login"
      class="text-indigo-600 hover:text-indigo-500 font-medium"
    >
      Login
    </a>
  </div>
</div>
