<div class="p-5 shadow-xl bg-base-200">
  <form
    class="space-y-4 w-75 sm:w-100"
    [formGroup]="resetPasswordForm"
    (ngSubmit)="onSubmit()"
  >
    <h1 class="text-2xl mb-2 font-bold text-center">Set New Password</h1>
    <p class="text-sm text-center text-gray-500 mb-4">
      Enter your new password to regain access to your account
    </p>

    <!-- Error -->
    @if (hasError()) {
    <div role="alert" class="alert alert-error alert-soft mb-3">
      <p>
        Something went wrong while trying to recover your password, please try
        again later.
      </p>
    </div>
    }

    <!-- Password input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroKey" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="password"
          placeholder="Password"
          formControlName="password"
          title="Must be more than 6 characters, including number, lowercase letter, uppercase letter"
        />
      </label>
      @if (formUtils.isValidField(resetPasswordForm, 'password')) {
      <div class="text-xs text-error mt-2">
        {{ formUtils.getFielError(resetPasswordForm, "password") }}
      </div>
      }
    </div>

    <!-- Confirm Password input -->
    <div>
      <label class="input w-full">
        <ng-icon name="heroKey" size="1.2em" class="opacity-50"></ng-icon>
        <input
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
          title="Repeat password"
        />
      </label>
      @if (resetPasswordForm.errors && resetPasswordForm.touched) {
      <span class="text-xs text-error mt-2">
        Las contraseñas no coinciden
      </span>
      }
    </div>

    <button type="submit" [disabled]="isValidForm" class="btn btn-soft w-full">
      @if (!isLoading()) {Reset Password} @else {<shared-loading
      ></shared-loading>}
    </button>
  </form>
</div>
